*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    color: white;
}

html,body{
    width:100%;
    height:100%;
}

#main{
    width: 100%;
    height: 100%;
}

#back{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#front{
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#page1{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    padding: 40px 0px;
    position: relative;
}

#nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-l{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

#nav-l img{
    background-color: transparent;
    width: 100px;
}

#nav-l a{
    pointer-events: all;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
}

#nav-r{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

#nav-r a{
    pointer-events: all;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
}

#hero{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateX(0%, -50%);
}

#herol{
    min-width: 50%;
    height: 100%;
}


#herol .elem{
    height: 10vw;
    overflow: hidden;
    position: relative;
}

#herol .elem h1{
    font-size: 11vw;
    font-family: "kajiro";
    line-height: .9;
    letter-spacing: 2px;
    position: absolute;
    top: 100%;
    left: 0;
}

#herol .elem h1:nth-child(1){
    top: 0;
}


#herol button{
    pointer-events: all;
    cursor: pointer;
    width: 230px;
    height: 100px;
    font-size: 4vw;
    font-weight: 700;
    color: black;
    font-family: "kajiro";
    border: solid 1px rgb(255, 255, 255);
    letter-spacing: 2px;
}



#heror{
    width:25%;
    font-family: "gilroy";
    text-align: right;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-weight: 500;
}

#heror #img{
    width: 80%;
    height: 200px;
    background-color: red;
    margin-bottom: 50px;
}

#img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 700;
}

#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}